<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ContentRoot" value="C:\tvg" />
    <add key="LogType" value="Bam.Net.CommandLine.ConsoleLogger, Bam.Net.CommandLine, Version=1.4.6.0, Culture=neutral, PublicKeyToken=null" />
    <add key="Ssl" value="false" />
    <add key="HostName" value="localhost" />
    <add key="Port" value="7500" />
    <!--comma or semi-colon separated list of paths-->
    <add key="MonitorDirectories" value="C:\tvg\troo" />
    <add key="ApplicationName" value="TrooService" />
    <add key="SqlDialect" value="SQLite" />
  </appSettings>
</configuration>
