<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.10" targetFramework="net472" />
  <package id="dotless" version="1.6.4" targetFramework="net472" />
  <package id="dotless.AspNetHandler" version="1.6.4" targetFramework="net472" />
  <package id="dotless.Core" version="1.6.4" targetFramework="net472" />
  <package id="EcmaScript.Net" version="1.0.1.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="NCuid" version="1.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="YamlSerializer" version="1.0" targetFramework="net45" />
  <package id="YUICompressor.NET" version="2.7.0.0" targetFramework="net462" />
</packages>