@page
@model OpenApiModel
@{
}

<h1>Open Api</h1>
<p>
    TODO: Generate swagger doc for web service proxies, see 
    <a href="https://github.com/BryanApellanes/Bam.Net/blob/5b0ca8ee6bfc6618c05ad728bc4bfa2a8a2d0d26/shared/bam.net.shared/Services/OpenApi/Objects/OpenAPIObject.cs">
        https://github.com/BryanApellanes/Bam.Net/blob/5b0ca8ee6bfc6618c05ad728bc4bfa2a8a2d0d26/shared/bam.net.shared/Services/OpenApi/Objects/OpenAPIObject.cs
    </a> 
</p>