@{
    ViewBag.Title = "Start";
}

@section scripts{  
    @Bam.Scripts(this, Model)   
}

<div class="span12" style="height: auto;">
@*    <span data-navigate="back" data-app="sample" class="btn">back</span><span data-navigate="forward" data-app="sample" class="btn">forward</span>*@
    <div id="pageContent">
    
    </div>
</div>