<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="DownloadLanguages" value="No" />
    <add key="LogType" value="Bam.Net.CommandLine.ConsoleLogger, Bam.Net.CommandLine, Version=1.9.0.0, Culture=neutral, PublicKeyToken=null" />
    <add key="ContentRoot" value="C:\bam\content" />
    <add key="Ssl" value="false" />
    <add key="CoreHostName" value="int-heart.bamapps.net" />
    <add key="CorePort" value="80"/>    
    <add key="HostNames" value="gloo.localhost" />
    <add key="Port" value="9100" />
    <add key="AssemblySearchPattern" value="*UserAccounts.dll,*Services.dll,*Proxyables.dll,*Gloo.dll,*Automation.dll" />
    <add key="MonitorDirectories" value="C:\bam\monitor\gloo" />
    <add key="ApplicationName" value="gloo.bamapps.net" />
  </appSettings>       
</configuration>
