<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net462" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net462" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net462" />
  <package id="Microsoft.Build.Framework" version="15.3.409" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net462" />
  <package id="NuGet.Manifest.Schema" version="2.0.4" targetFramework="net45" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net462" />
  <package id="System.Collections" version="4.0.11" targetFramework="net462" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net462" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net462" />
  <package id="System.Linq" version="4.1.0" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Net.FtpClient" version="1.0.5824.34026" targetFramework="net45" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net462" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="net462" />
  <package id="System.Threading" version="4.0.11" targetFramework="net462" />
  <package id="System.Threading.Thread" version="4.0.0" targetFramework="net462" />
  <package id="YamlSerializer" version="1.0" targetFramework="net45" />
</packages>