        public @(Model.TableClassName)Columns @Model.PropertyName
        {
            get
            {
                return new @(Model.TableClassName)Columns("@Model.Name");
            }
        }
