<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ContentRoot" value="C:\tvg\troo" />
    <add key="LogType" value="Bam.Net.CommandLine.ConsoleLogger, Bam.Net.CommandLine, Version=1.4.9.0, Culture=neutral, PublicKeyToken=null" />
    <add key="Ssl" value="false" />
    <add key="HostName" value="localhost" />
    <add key="Port" value="7500" />
    <!--comma or semi-colon separated list of paths-->
    <add key="MonitorDirectories" value="C:\tvg\troo" />
    <add key="ApplicationName" value="TrooService" />
    <add key="SqlDialect" value="SQLite" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
