using System;
using System.Collections;
using System.Collections.Generic;
using System.Reflection;
using System.Data;
using System.Data.Common;
using System.Linq;
using System.Threading.Tasks;
using Bam.Net;
using Bam.Net.Data;
using @(Model.SourceNamespace);

namespace @(Model.SchemaRepositoryNamespace)
{
	[Serializable]
	public class @(Model.SchemaName)Repository: @(Model.BaseRepositoryType)
	{
		public @(Model.SchemaName)Repository()
		{
			SchemaName = "@(Model.SchemaName)";
			@foreach(SchemaTypeModel model in Model.Types)
			{
				WriteAddType(model.Type);
			}

		}

		@foreach(SchemaTypeModel type in Model.Types)
		{
			WriteMethods(type);
		}

	}
}																								
