<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DownloadLanguages" value="No" />
    <add key="LogType" value="Bam.Net.CommandLine.ConsoleLogger, Bam.Net.CommandLine, Version=1.4.6.0, Culture=neutral, PublicKeyToken=null" />
    <add key="ContentRoot" value="C:\tvg" />
    <add key="Ssl" value="false" />
    <add key="HostName" value="localhost" />
    <add key="Port" value="9100" />
    <add key="AssemblySearchPattern" value="*UserAccounts.dll,*Services.dll,*Proxyables.dll,*Gloo.dll" />
    <add key="ExcludeNamespaces" value="Bam.Net.UserAccounts,Bam.Net.UserAccounts.Data" />
    <add key="ExcludeClasses" value="MetricsEventSourceService,NotificationEventSourceService" />
    <!--comma or semi-colon separated list of paths-->
    <add key="MonitorDirectories" value="C:\tvg\gloo" />
    <add key="ApplicationName" value="GlooService" />
  </appSettings>
</configuration>
