@page
@model EditorModel
@{

}

<h1>Editor</h1>
<div id="container" style="width:800px;height:600px;border:1px solid #ccc"></div>


@section Scripts {

    <script src="~/admin/editor.bundle.js"></script>

}
