@page
@model TestsModel
@{
    ViewData["Title"] = "Tests";
}
<h1>@ViewData["Title"]</h1>
<h2>@Model.Message</h2>

<fieldset>
    <legend>Results</legend>
    <div id="mocha"></div>
</fieldset>

<fieldset>
    <legend>Json Files</legend>
    <ul>
        @foreach (string key in Model.JsonFiles.Keys)
        {
        <li>@key</li>
        }
    </ul>    
</fieldset>

<fieldset>
    <legend>Yaml Files</legend>
    <ul>
        @foreach (string key in Model.YamlFiles.Keys)
        {
        <li>@key</li>
        }
    </ul>    
</fieldset>



@section Scripts{

<script src="https://unpkg.com/chai@4.1.2/chai.js"></script>
<script src="https://unpkg.com/mocha@4.0.1/mocha.js"></script>

<script>mocha.setup('bdd')</script>
@foreach(string testFile in Model.TestFileNames)
{
    <script src="~/js/browser-tests/@(testFile).js"></script>
}

<script>
    mocha.checkLeaks();
    mocha.run();
</script>

}