<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="vaultPath" value="c:\Bam\Data\Test\YandexApiVault" />    
    <add key="translationDatabasePath" value="c:\Bam\Data\Test\YandexTranslations" />
    <add key="languageDatabasePath" value="c:\Bam\Data\Test\Language" />
  </appSettings>  
</configuration>