@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Bamapps is a platform for building distributed peer to peer applications.</p>
<p>
    Taking advantage
    of modern cloud service providers, the underlying Bam.Net framework provides the infrastructure
    glue so you can focus on building the best user experience possible.
</p>
