@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <br />
    Lake Steven, WA 98258<br />    
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">support@threeheadz.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@threeheadz.com</a>
</address>
