<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bam.Net" version="1.2.4" targetFramework="net45" />
  <package id="Bam.Net.CommandLine" version="1.2.4" targetFramework="net45" />
  <package id="Bam.Net.Incubation" version="1.2.4" targetFramework="net45" />
  <package id="Bam.Net.Testing" version="1.2.4" targetFramework="net45" />
</packages>