<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="ContentRoot" value="C:\bam\content" />
    <add key="LogType" value="Bam.Net.CommandLine.ConsoleLogger, Bam.Net.CommandLine, Version=1.9.0.0, Culture=neutral, PublicKeyToken=null" />
    <add key="Ssl" value="false" />
    <add key="HostNames" value="vyoo.localhost" />
    <add key="Port" value="7400" />
    <add key="AssemblySearchPattern" value="*ContentHandlers.dll" /> <!-- search pattern used to scan for ContentHandler methods -->
    <!--comma or semi-colon separated list of paths-->
    <add key="MonitorDirectories" value="C:\bam\content" />
    <add key="ApplicationName" value="vyoo.bamapps.net" />
  </appSettings>
</configuration>
