@using BAMvvm.Models;

<div>
@Html.Deferred((dv) =>
{
    dv.SetState(Html.Tag("span").Text("From partial simulating long process..."));
    System.Threading.Thread.Sleep(1500);
    for (int i = 0; i < 20; i++)
    {
        System.Threading.Thread.Sleep(1000);
        dv.SetState(Html.Tag("span").Text("Slept {0} seconds..."._Format(i)));
    }
    
    return new Tag("span").Text("done");
},
    Html.Tag("span").Text("Initial")
)
</div>