<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="KLGates.Core" version="2.0.0.0" targetFramework="net45" />
  <package id="KLGates.Core.CommandLine" version="2.0.0.0" targetFramework="net45" />
  <package id="KLGates.Core.Incubation" version="2.0.0.0" targetFramework="net45" />
  <package id="KLGates.Core.Testing" version="2.0.0.0" targetFramework="net45" />
</packages>