# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Bryan.Apellanes.suo

*.dll
*/bin/Debug/*
BuildScripts/Bam.Net/BuildOutput/
BuildScripts/Bam.Net/clean.cmd
BuildScripts/Bam.Net/pack.cmd
BuildScripts/Bam.Net/pack_debug_cmd
BuildScripts/Bam.Net/push.cmd
Products/BamToolkit/
Products/BUILD/
Products/BUILD/BamToolkit
NuGetPackages/Bam.Net/Packages/
packages/
*.nupkg
*.cab
*.msi
Products/BamToolkit/BamToolkit-cache/cacheIndex.txt
Products/BamToolkit/BamToolkit-cache/part1/disk1.cab
Products/BamToolkit/BamToolkit-SetupFiles/BamToolkit.msi
ProjectTemplates/BAMvvm/App_Data/DaoRef.sqlite
node_modules/
.idea
.vs/
