<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>    
    <add key="NugetInternalSource" value="\\core\share\nuget\repository" /> <!-- the path to "nuget add" to -->
    <add key="NugetPublicSource" value="https://api.nuget.org/v3/index.json" /> <!-- the path to "nuget push" to -->
    <add key="ILMergePath" value="C:\bam\tools\ILMerge.exe" />
    <add key="NugetPath" value="C:\bam\tools\nuget.exe" />
    <add key="GitPath" value="C:\Program Files\Git\cmd\git.exe" />
    <add key="MsBuildPath" value="C:\bam\tools\MSBuild\msbuild.exe" />
    <add key="PsExecPath" value="C:\bam\tools\PsExec.exe" />
    <add key="Solution" value="Bam.Net.Nuget.sln" />
    <add key="ReleaseFolder" value="C:\bam\release" />
    <add key="Builds" value="\\core\share\builds" /> <!-- The root path where binaries are built.  Binaries will be in {Builds}{Platform}{FrameworkVersion}\Debug\_{commitHash} -->
    <add key="NugetLib" value="net472" />
    <add key="Platform" value="x64" />
    <add key="FrameworkVersion" value="v4.7.2" />
    <add key="BambotSource" value="C:\bam\bot\src" /> <!-- The path where source is cloned -->
    <add key="NugetStage" value="C:\bam\nuget\stage" /> <!-- The path where nuget packages are staged prior to packing -->
    <add key="OutputDirectory" value="C:\bam\nuget\pack" /> <!-- The path where newly baked nuget packages are output -->
    <add key="WixMergeModule" value="Products\BamToolkitMM" /> <!-- The path to the directory where the merge module wix file (.wxs) is found -->
    <add key="WixMsi" value="Products\BamToolkit" /><!-- The path to the directory where the wix msi project file (.wixproj) is found -->
    <add key="WixOutput" value="C:\bam\tools\wix" />
    <add key="PackagesDirectory" value="C:\bam\nuget\packages" /> <!-- The path where nuget packages should be restored (installed/referenced by projects) -->
    <add key="GlobalPackagesDirectory" value="C:\bam\nuget\global" /> <!-- https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#config-section -->
    <add key="Authors" value="Bryan Apellanes" />
    <add key="Owners" value="Bryan Apellanes" />
    <add key="LicenseUrl" value="http://opensource.org/licenses/MIT" />
    <add key="ProjectUrl" value="http://bryanapellanes.github.io/Bam.Net/" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.4.3.0" newVersion="1.4.3.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Composition.AttributedModel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.0.33.0" newVersion="1.0.33.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Composition.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.0.33.0" newVersion="1.0.33.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Composition.TypedParts" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.0.33.0" newVersion="1.0.33.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Composition.Hosting" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.0.33.0" newVersion="1.0.33.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.6.0.0" newVersion="3.6.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
