<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>    
  <appSettings>
    <add key="HostNames" value="localhost" />
    <add key="Ssl" value="false" />
    <add key="Port" value="9101" />
    <add key="ApplicationName" value="heart.bamapps.net" />
  </appSettings>
</configuration>