<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>

  <connectionStrings>
    <add name="DaoRef" connectionString="Data Source=192.168.0.59;Initial Catalog=DaoReferenceObjects;User Id=naizari;Password=N41z4r1P455w0rd!" providerName="System.Data.SqlClient.SqlClientFactory, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <add name="Givit" connectionString="Data Source=192.168.0.59;Initial Catalog=Hatagi_Tests;User Id=naizari;Password=N41z4r1P455w0rd!" providerName="System.Data.SqlClient.SqlClientFactory, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <add name="MyWebDb" connectionString="Data Source=192.168.0.59;Initial Catalog=MyWebDb;User Id=naizari;Password=N41z4r1P455w0rd!" providerName="System.Data.SqlClient.SqlClientFactory, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <add name="Test" connectionString="TestConnectionString" providerName="System.Data.SqlClient.SqlClientFactory, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </connectionStrings>
  <appSettings>
    <add key="OracleUserId" value="C##ORACLEUSER" />
    <add key="OraclePassword" value="oracleP455w0rd" />
    <add key="OracleServerName" value="chumsql2" />
    <add key="OraclePort" value="1521" />
    <add key="OracleInstanceName" value="orcl" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.94.0" newVersion="1.0.94.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
