
            this.ChildCollections.Add("@(Model.ParentTableName)_@(Model.XrefTableName)_@(Model.ListTableName)",  new XrefDaoCollection<@(Model.XrefTableName), @(Model.ListTableName)>(this, false));
				