
			if(_database != null)
			{
				this.ChildCollections.Add("@(Model.TableName)_@(Model.Name)", new @(Model.ReferencingClass)Collection(Database.GetQuery<@(Model.ReferencingClass)Columns, @(Model.ReferencingClass)>((c) => c.@(Model.PropertyName) == GetULongValue("@(Model.ReferencedKey)")), this, "@(Model.Name)"));				
			}