/*
	Copyright © Bryan Apellanes 2015  
*/
using System;
using System.Collections.Generic;
using System.Text;
using System.Data;
using System.Data.Common;
using Bam.Net.Data;

namespace @Namespace
{
    public class @(Model.ClassName)Collection: DaoCollection<@(Model.ClassName)Columns, @(Model.ClassName)>
    { 
		public @(Model.ClassName)Collection(){}
		public @(Model.ClassName)Collection(Database db, DataTable table, Dao dao = null, string rc = null) : base(db, table, dao, rc) { }
		public @(Model.ClassName)Collection(DataTable table, Dao dao = null, string rc = null) : base(table, dao, rc) { }
		public @(Model.ClassName)Collection(Query<@(Model.ClassName)Columns, @(Model.ClassName)> q, Dao dao = null, string rc = null) : base(q, dao, rc) { }
		public @(Model.ClassName)Collection(Database db, Query<@(Model.ClassName)Columns, @(Model.ClassName)> q, bool load) : base(db, q, load) { }
		public @(Model.ClassName)Collection(Query<@(Model.ClassName)Columns, @(Model.ClassName)> q, bool load) : base(q, load) { }
    }
}